.archlist {
  list-style: none;
  padding: 0;
}

.architem {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.archimage {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.archtitle {
  color: #1da1f2;
  margin-bottom: 5px;
  font-size: 17px;
}
.archcontainer {
  color: #1da1f2;
  padding: 20px;
}
.archinfo p {
  color: #555;

  font-size: 13px;
}
