.archlist {
  list-style: none;
  padding: 0;
}

.architem {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.archimage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 20px;
}

.archtitle {
  color: #1da1f2;
  margin-bottom: 5px;
  font-size: 17px;
}
.archcontainer {
  color: #1da1f2;
  padding: 20px;
}
.archinfo p {
  color: #555;

  font-size: 13px;
}
