.archlist {
  list-style: none;
  padding: 0;
}

.architem {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.archimage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 20px;
}

.archtitle {
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 200;
}
.archcontainer {
  color: #007bff;
  padding: 20px;
}
.archinfo p {
  color: #666;
  font-weight: 200;
  font-size: 13px;
}
