.homePage {
  text-align: center;
  color: white;
  align-items: center;
}
.name {
  font-size: 45px;
  margin-bottom: 10px;
}

.stacks {
  margin-top: 10px;
  margin-bottom: 15px;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: whitesmoke;
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 0;
  justify-content: center;
}
.downloadbutton {
  align-self: center;
  margin: 10px;
  padding: 8px;
  color: white;
  background-color: #1da1f2;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.centeredContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.roundedImage {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.techStacks {
  font-size: 16px;
  margin-bottom: 20px;
}
.techStacks p {
  font-size: 22px;
  color: #1da1f2;
  font-weight: "100";
}

.socialIcons {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.icon {
  width: 32px;
  height: 32px;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .stacks {
    list-style: none;
    max-width: 80%;
    padding-left: 10px;
  }
}
