.projectlist {
  list-style: none;
  padding: 0;
}

.projectitem {
  width: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding-left: 30px;
}

.projectitem p {
  font-size: 13px;
}

.projectscontainer h5 {
  margin-bottom: 5px;
  font-weight: 200;
}

.projectsection {
  margin-top: 5px;
  margin-bottom: 10px;
}
.projectsection ul {
  font-size: 13px;
  color: #666;
  list-style: none;
  cursor: pointer;
}

.projectimage {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.projectitle {
  color: #1da1f2;
  margin-bottom: 5px;
  font-size: 17px;
}
.projectscontainer {
  color: whitesmoke;
  padding: 20px;
}
.projectinfo p {
  color: #555;
}

.projectitem :hover {
  background-color: #222;
}

@media (max-width: 768px) {
  .projectitem {
    margin-bottom: 20px;
    padding-left: 5px;
  }
  .projectimage {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }
}
